<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MySQLConnection"
         connectionString="Server=127.0.0.1;Port=3306;Database=my_app_db;User=root;Password=edmar;"
         providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>
